/**
 * 基于postcss-preset-env
 */

.ui-modal {
  position: absolute;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  transform: translate(0, 0) scale(1);
  transition: all 0.2s ease-out;
  display: flex;
  flex-direction: column;
  background: #fff;

  &.hide {
    display: none;
  }

  &.slide-left {
    transform: translateX(100vw);

    &.slide-up {
      transform: translate(100vw, 100vh);

      &.zoom {
        transform: translate(100vw, 100vh) scale(0);
      }
    }

    &.zoom {
      transform: translateX(100vw) scale(0);
    }
  }

  &.slide-up {
    transform: translateY(100vh);

    &.zoom {
      transform: translateY(100vh) scale(0);
    }
  }

  &.zoom {
    transform: translate(0, 0) scale(0);
  }

  &.fade {
    opacity: 0;
  }
}
